h1 {
    display:inline-block;
}

h3 {
    display:inline-block;
}

li {
    list-style-type: none; /* Убираем маркеры */
}


a.task-remove {
    float:right;
    position: static;
}

a.task-complete {
    float: right;
    position: static;
}

div.clear {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 10vh;
    right: 15px;
    text-align: center;
}

div.panel {
    border: 2px;
}

button#clear {
    float: right;
}

button#clear-completed {
    float: right;
}

::-webkit-input-placeholder {
    color: #333333;
    font-style: italic;
}

::-moz-placeholder {
    color: #333333;
    font-style: italic;
}

:-moz-placeholder {
    color: #333333;
    font-style: italic;
}

:-ms-input-placeholder {
    color: #333333;
    font-style: italic;
}